// $background-div : #F4F4F4;
// $primary-color: #D438FF;
// $secondary-color: #4C84FB;
// $tertiary-color: #93D3FE;
// $red: tomato;
// $black: #333333;
// $white: #ffffff;
// $black: #000;
$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

$box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 10px;
$mobile-widht: 600px;
$tablet-widht: 1024px;

$font-family: 'Inter', sans-serif;